.closeT {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: rgb(100, 100, 255);
    color: #ffffff;
}

.onboard {
    overflow: hidden;
}

.tandc {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.437);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 3rem;
    border-radius: 0 !important;
    overflow: hidden;
}

.show_terms {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    height: 90vh;
    overflow-y: scroll;
}

.error {
    border: 2px solid red !important;
}

.error.success {
    border: 2px solid green !important;
}

.select {
    text-transform: capitalize;
}

.wel_msg {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.685);
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top .7s;
}

.pop_wel {
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

.pop_wel_head h3 {
    font-size: 18px;
    padding-top: 10px;
}

.pop_wel_info button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 140, 255);
    color: #ffffff;
    font-weight: 700;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 140, 255);
    border-radius: 5px;
    color: #ffffff;
    margin: 1rem auto 0 1rem;
}

@media (max-width: 428px) {
    .tandc {
        padding: 3rem 20px;
    }
}